@use './partial';

@mixin tablet {
  @media screen and (min-width: $breakpointtablet) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $breakpointdesktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}