@use './partial' as *;

@mixin tablet {
  @media (min-width: $breakpointtablet) {
    @content;
  }
}

@mixin desktop {
  @media  (min-width: $breakpointdesktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

