$breakpointtablet: 768px;
$breakpointdesktop: 1280px;

$color-primary: #323232;
$color-white: #FFFFFF;
$color-bckgrnd-text: #FAFAFA;
$color-label: #AFAFAF;
$color-border: #E1E1E1;
$color-hover: #0065AD;

