@use './partial' as *;

@mixin between-mobile-tablet {
  @media (min-width: $breakpointbetween-mobile-tablet) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpointtablet) {
    @content;
  }
}

@mixin between-tablet-desktop {
  @media (min-width: $breakpointbetween-tablet-desktop) {
    @content;
  }
}

@mixin desktop {
  @media  (min-width: $breakpointdesktop) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin button {
  font-family: 'AvenirNext LT Pro Demi';
  color: $color-white;
  background-color: $color-primary;
  height: 3rem;
  border-radius: 4px;
  margin-top: 2rem;
}

