@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro Demi";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro Bold";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
  color: #323232;
  margin: 0;
}

@-webkit-keyframes link-hover {
  0% {
    color: white;
  }
  20% {
    color: yellowgreen;
  }
  40% {
    color: green;
  }
  60% {
    color: orangered;
  }
  80% {
    color: red;
  }
  100% {
    color: white;
  }
}

@keyframes link-hover {
  0% {
    color: white;
  }
  20% {
    color: yellowgreen;
  }
  40% {
    color: green;
  }
  60% {
    color: orangered;
  }
  80% {
    color: red;
  }
  100% {
    color: white;
  }
}
.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  background-color: #323232;
  height: 5rem;
  width: 100vw;
}
@media (min-width: 460px) {
  .main-navigation {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .main-navigation {
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .main-navigation {
    padding-left: 6.25rem;
  }
}
.main-navigation__title {
  margin: 0.5rem 2rem 0 0;
}
@media (min-width: 460px) {
  .main-navigation__title {
    padding-left: 1rem;
  }
}
.main-navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}
.main-navigation__item {
  width: 50%;
}
@media (min-width: 460px) {
  .main-navigation__item {
    width: 30%;
  }
}
@media (min-width: 768px) {
  .main-navigation__item {
    width: 20%;
  }
}
.main-navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.875rem;
  padding: 0.3rem 4rem 0.3rem 3rem;
}
@media (min-width: 460px) {
  .main-navigation__link {
    margin-right: 3rem;
    padding: 1.75rem 0.5rem;
  }
}
.main-navigation__biography {
  font-family: "AvenirNext LT Pro Demi";
}
.main-navigation__biography:hover {
  font-size: 1.5rem;
  border: none;
  -webkit-animation-name: link-hover;
          animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (min-width: 768px) {
  .main-navigation__biography {
    margin-left: 0.5rem;
  }
}
@media (min-width: 1280px) {
  .main-navigation__biography {
    margin: 0 3.5rem;
  }
}
.main-navigation__shows {
  color: #E1E1E1;
  margin-left: 1rem;
  border-bottom: 3px solid #FFFFFF;
}
.main-navigation__shows:hover {
  font-size: 1.5rem;
  -webkit-animation-name: link-hover;
          animation-name: link-hover;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@media (min-width: 1280px) {
  .main-navigation__shows {
    margin: 0;
  }
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 29.5rem;
  background-image: url(../assets/images/djboard.jpeg);
  background-size: cover;
  background-position: cover;
  background-repeat: none;
  position: relative;
  padding: 0 1rem;
}
@media (min-width: 768px) {
  .hero {
    height: 41.875rem;
  }
}
@media (min-width: 1280px) {
  .hero {
    flex-direction: row;
  }
}
.hero__text {
  color: #FFFFFF;
  font-size: 2rem;
  font-family: "AvenirNext LT Pro Bold";
  position: absolute;
  line-height: 2.75rem;
  top: 4rem;
  left: 1rem;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 5rem;
    width: 80%;
    top: 10%;
  }
}
@media (min-width: 1280px) {
  .hero__text {
    margin-left: 6.25rem;
    width: 48%;
    left: 0;
    top: 20%;
  }
}
.hero__text--album {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
@media (min-width: 768px) {
  .hero__text--album {
    font-size: 1.5rem;
  }
}
.hero__song {
  width: 90%;
  height: 110px;
  position: absolute;
  top: 68%;
}
@media (min-width: 460px) {
  .hero__song {
    width: 60%;
  }
}
@media (min-width: 768px) {
  .hero__song {
    top: 65%;
    height: 9.125rem;
    width: 55%;
  }
}
@media (min-width: 1280px) {
  .hero__song {
    width: 34%;
    left: 50rem;
    top: 47%;
  }
}

.shows {
  margin: 2rem 1rem;
}
@media (min-width: 768px) {
  .shows {
    margin: 1.5rem;
  }
}
@media (min-width: 1280px) {
  .shows {
    display: flex;
    justify-content: space-between;
    margin: 3rem 6.25rem;
  }
}
.shows__title {
  font-family: "AvenirNext LT Pro Bold";
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .shows__title {
    font-size: 2.25rem;
  }
}
.shows__container {
  width: 100%;
}
@media (min-width: 1280px) {
  .shows__container {
    width: 80%;
  }
}
.shows__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 768px) {
  .shows__box {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
.shows__top-label {
  display: none;
  color: #AFAFAF;
  font-size: 0.875rem;
  font-family: "AvenirNext LT Pro Demi";
}
@media (min-width: 768px) {
  .shows__top-label {
    display: flex;
    margin-right: 8rem;
  }
}
.shows__label {
  color: #AFAFAF;
  font-size: 0.875rem;
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .shows__label {
    display: none;
  }
}
.shows__date {
  font-family: "AvenirNext LT Pro Demi";
  font-size: 0.8125rem;
}
.shows__details {
  font-size: 0.8125rem;
}
.shows__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "AvenirNext LT Pro Demi";
  color: #FFFFFF;
  background-color: #323232;
  height: 3rem;
  border-radius: 4px;
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .shows__button {
    display: flex;
    padding: 0.5rem 2rem;
  }
}
.shows__divider {
  margin-top: 1rem;
  border: 1px solid #E1E1E1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #323232;
  color: #FFFFFF;
  padding: 2rem 1.5rem 2rem 1.5rem;
}
@media (min-width: 1280px) {
  .footer {
    padding: 3rem 6.25rem;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  height: 5rem;
}
@media (min-width: 768px) {
  .footer__links {
    flex-direction: row;
  }
}
.footer__title {
  font-family: "AvenirNext LT Pro Bold";
}
@media (min-width: 768px) {
  .footer__title {
    margin-right: 8rem;
  }
}
@media (min-width: 1280px) {
  .footer__title {
    margin-right: 4rem;
  }
}
.footer__social {
  margin: 0.5rem;
}
@media (min-width: 768px) {
  .footer__social {
    margin-right: 8em;
  }
}
@media (min-width: 1280px) {
  .footer__social {
    margin-right: 33rem;
  }
}
.footer__emblem {
  margin-right: 1.5rem;
}
.footer__logo-link {
  justify-self: flex-end;
}
.footer__logo {
  visibility: hidden;
  justify-self: flex-end;
}
@media (min-width: 768px) {
  .footer__logo {
    visibility: visible;
  }
}
.footer__boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 1280px) {
  .footer__boxes {
    justify-content: flex-start;
  }
}
.footer__info-box {
  margin-bottom: 1.5rem;
}
@media (min-width: 1280px) {
  .footer__info-box {
    margin-right: 6rem;
  }
}
.footer__info-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}
.footer__details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  margin-bottom: 0.5rem;
}
.footer__email {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.75rem;
}
.footer__copyright {
  font-size: 0.8125rem;
}

.logo {
  width: 7.5rem;
  height: 1.5rem;
}/*# sourceMappingURL=shows.css.map */