@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro Demi";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro Bold";
  src: url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
* ::before,
* ::after {
  box-sizing: border-box;
  margin: 0;
  border: 1px solid black;
}

body {
  font-family: "AvenirNext LT Pro", sans-serif;
  color: #323232;
  margin: 0;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #FFFFFF;
  background-color: #323232;
  height: 5rem;
  width: 100vw;
}
@media (min-width: 768px) {
  .main-navigation {
    flex-direction: row;
    align-items: center;
  }
}
.main-navigation__title {
  margin: 0;
  padding-top: 0.5rem;
}
@media (min-width: 768px) {
  .main-navigation__title {
    margin: 0 3rem;
  }
}
.main-navigation__list {
  list-style: none;
  padding: 0;
  display: flex;
  width: 100%;
}
.main-navigation__link {
  text-decoration: none;
  color: #FFFFFF;
  padding: 0.5rem 2.75rem;
}
@media (min-width: 768px) {
  .main-navigation__link {
    margin-right: 3rem;
    padding: 1.75rem 0.5rem;
  }
}

.bio {
  font-family: "AvenirNext LT Pro Demi";
  border-bottom: 3px solid #FFFFFF;
}

.shows {
  color: #E1E1E1;
}

.hero {
  width: 100%;
  height: 11.4375rem;
  background-image: url(../assets/images/djboard.jpeg);
  background-size: cover;
  background-position: cover;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    height: 25rem;
  }
}
.hero__text {
  color: #FFFFFF;
  font-size: 1.5rem;
  font-family: "AvenirNext LT Pro Bold";
  margin: 8%;
  position: absolute;
  top: 2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .hero__text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin: 1.5rem;
    top: 25%;
  }
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem;
}
@media (min-width: 768px) {
  .about {
    margin: 1.5rem;
  }
}
.about__title {
  font-family: "AvenirNext LT Pro Bold";
  margin: 1rem 0 0.75rem 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
  }
}
.about__image {
  max-width: 100vw;
  margin: 0.75rem 0 0.75rem 0;
}
.about__quote {
  color: #323232;
  margin-top: 0.75rem;
  font-family: "AvenirNext LT Pro Demi";
}
@media (min-width: 768px) {
  .about__quote {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .about__artist {
    font-size: 1rem;
  }
}
.about__artists-names {
  margin: 2.5rem 0 0.75rem 0;
  font-family: "AvenirNext LT Pro Demi";
}
@media (min-width: 768px) {
  .about__artists-names {
    font-size: 1.5rem;
  }
}
.about__blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
@media (min-width: 768px) {
  .about__blurb {
    font-size: 0.875rem;
  }
}
@media (min-width: 768px) {
  .about__blurb {
    flex-direction: row;
  }
}
.about__blurb-left {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .about__blurb-left {
    width: 48%;
    margin: 0 4px 0 0;
  }
}
.about__blurb-right {
  margin-bottom: 1.5rem;
}
@media (min-width: 768px) {
  .about__blurb-right {
    width: 48%;
    margin: 0;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #FAFAFA;
}
.gallery__title {
  font-family: "AvenirNext LT Pro Bold";
  padding: 2rem 0 0 1rem;
}
@media (min-width: 768px) {
  .gallery__title {
    font-size: 2.25rem;
    padding: 2rem 0 2rem 1.5rem;
  }
}
.gallery__images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}
@media (min-width: 768px) {
  .gallery__images {
    margin: 0;
    padding-bottom: 1.75rem;
  }
}
.gallery__item {
  max-width: 18rem;
  margin: 0.5rem 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
}
.gallery__item:hover {
  filter: none;
}
@media (min-width: 768px) {
  .gallery__item {
    max-width: 14rem;
    max-height: 7.875rem;
    margin: 0.75rem;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #323232;
  color: #FFFFFF;
  padding-left: 0.5rem;
}
.footer__links {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 5rem;
}
.footer__title {
  font-family: "AvenirNext LT Pro Bold";
}
.footer__logo {
  visibility: hidden;
  justify-self: flex-end;
}
@media (min-width: 768px) {
  .footer__logo {
    visibility: visible;
  }
}
.footer__info-boxes {
  display: flex;
  flex-direction: row;
}
.footer__info-title {
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.footer__details {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}
.footer__email {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.75rem;
}/*# sourceMappingURL=main.css.map */