@keyframes link-hover {
  0% {
    color: white;
  }
  20% {
    color: yellowgreen;
  }
  40% {
    color: green;
  }
  60% {
    color: orangered;
  }
  80%{
    color: red;
  }
  100% {
    color: white;
  }
}