$breakpointbetween-mobile-tablet: 460px;
$breakpointtablet: 768px;
$breakpointbetween-tablet-desktop: 900px;
$breakpointgallery: 1000px;
$breakpointdesktop: 1280px;

$color-primary: #323232;
$color-white: #FFFFFF;
$color-bckgrnd-text: #FAFAFA;
$color-light-font: #E1E1E1;
$color-labels: #AFAFAF;

